{% load staticfiles %}
{% load percentage %}
{% load bytes_to_humanize %}
{% load kbytes_to_humanize %}
<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->
<div id="dashboard-header" class="row">
	<div class="col-xs-12">
      
         {% if report.output.version >= "11" %}
            <h3>CEPH Version: {{ report.output.version }} (Kraken) </h3>
         {% elif report.output.version >= "10" %} 
            <h3> CEPH Version: {{ report.output.version }} (Jewel) </h3>
         {% else %}
            <h3>CEPH Version: {{ report.output.version }} </h3>
         {% endif %}

	     <h5>Cluster ID: {{ cephstatus.output.fsid }} </h5>
         <div class="panel panel-primary">
             <div class="panel-heading">
                 <h3 class="panel-title">Ceph Cluster Overall Status</h3>
             </div>
             <div class="panel-body">
                {% if cephstatus.status == "OK" %}
	                {% if cephstatus.output.health.overall_status == "HEALTH_OK" %}
		                <h3 class="alert alert-success alert-heading text-center">{{ cephstatus.output.health.overall_status }}</h3>
	                {% elif cephstatus.output.health.overall_status == "HEALTH_WARN" %}
		                <h3 class="alert alert-warning text-center">{{ cephstatus.output.health.overall_status }}</h3>
	                {% else %}
		                <h3 class="alert alert-danger text-center">{{ cephstatus.output.health.overall_status }}</h3>
	                {% endif %}
                    {% for sum in cephstatus.output.health.summary %}
                        <h6>*{{ sum.severity }}: {{ sum.summary }}</h6>
                    {% endfor %}
                    {% for details in cephstatus.output.health.detail %}
                        <h6> *{{ details  }}</h6>
                    {% endfor %}
	            {% else %}
	                <h3> No Status Available</h3>
	            {% endif %}
             </div>
         </div>
	</div>
	<div class="clearfix visible-xs"></div>
</div>
<!--End Dashboard 1-->
<!--Start Dashboard 2-->
<div class="row-fluid">
	<div id="dashboard_links" class="col-xs-12 col-sm-2 pull-right">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#" class="tab-link" id="overview">Overview</a></li>
			<li><a href="#" class="tab-link" id="clients">Details</a></li>
			<li><a href="#" class="tab-link" id="graph">Statistics</a></li>
			<li><a href="#" class="tab-link" id="servers">Servers</a></li>
		</ul>
	</div>
	<div id="dashboard_tabs" class="col-xs-12 col-sm-10">
		<!--Start Dashboard Tab 1-->
		<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
            <div class="col-sm-12 col-md-8 col-xs-12" id="osd-status">
                <div class="panel panel-default"><!-- begin of osd-status div -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Ceph Cluster OSD Status</h3>
                    </div>
                    <div class="panel-body" align="center">
                        <div id="osd_warning"></div>
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Total</div>
                                    <div class="panel-body"> {{ cephstatus.output.osdmap.osdmap.num_osds }}</div>
                                </div>
                            </div>
		                    <div class="col-md-3 col-xs-6">
                                <div class="panel panel-success">
                                    <div class="panel-heading">In</div>
                                    <div class="panel-body">{{ cephstatus.output.osdmap.osdmap.num_in_osds  }} </div>
                                </div>
                            </div>
		                    <div class="col-md-3 col-xs-6">
                                <div class="panel panel-success">
                                    <div class="panel-heading">UP</div>
                                    <div class="panel-body"> {{ cephstatus.output.osdmap.osdmap.num_up_osds  }}  </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">Down</div>
                                    <div class="panel-body">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end of osd-status div -->
		        <div class="panel panel-default"><!-- begin of monitor status -->
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Ceph Cluster Monitors status
                        </h3>
                    </div>
                    <div class="panel-body" align="center">
                        <div class="row">                            
                            {% for monitor in cephstatus.output.health.health.health_services.0.mons %}
                                <div class="col-md-4 col-xs-6">
                                    <p class="alert alert-success"> 
                                        Monitor "{{  monitor.name }}": {{ monitor.health }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end of monitor status -->
            </div> 
	        <div class="col-md-4 col-xs-6">
                <svg id="total_usage" width="97%" height="100%"></svg>
                <p align="center">Storage Percentage Usage</p>	       
		        <div class="row" id="pg-items"><i class="fa fa-hdd-o"></i> Total Storage 
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.bytes_total|bytes_to_humanize }} 
                    </span>
                </div>
                <div class="row" id="pg-items"><i class="fa fa-archive"></i>Used Storage 
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.bytes_used|bytes_to_humanize }} 
                    </span>
                </div>
                <div class="row" id="pg-items"><i class="fa fa-hdd-o"></i> Available 
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.bytes_avail|bytes_to_humanize }} 
                    </span>
                </div>
                <div class="row" id="pg-items"><i class="fa fa-file"></i> Data  
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.data_bytes|bytes_to_humanize }} 
                    </span>
                </div>
                <div class="row" id="pg-items"><i class="fa fa-object-ungroup" aria-hidden="true"></i> Total PG
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.num_pgs  }}
                </div>
                <div class="row" id="pg-items"><i class="fa fa-object-group" aria-hidden="true"></i> Total Pools
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.num_pools }}
                </div>
                <div class="row" id="pg-items"><i class="fa fa-info"></i> Total Objects
                    <span style="font-size:medium;" class="label label-default pull-right">
                        {{ cephstatus.output.pgmap.num_objects }}
                </div>
            </div>
		</div>
		<!--End Dashboard Tab 1-->
		<!--Start Dashboard Tab 2-->
		<div id="dashboard-clients" class="row" style="visibility: hidden; position: absolute;">
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-object-group"></i></div>
				<div class="col-xs-2"><b>Pools</b></div>
				<div class="col-xs-1">ID</div>
				<div class="col-xs-2">USED(MB)</div>
				<div class="col-xs-2">%USED</div>
				<div class="col-xs-2">MAX AVAIL(MB)</div>
				<div class="col-xs-2">OBJECTS</div>
			</div>
			{% for pool in pool_usage.output.pools %}
				<div class="row one-list-message">
					<div class="col-xs-1"><i class="fa fa-object-ungroup"></i></div>
					<div class="col-xs-2"><b>{{ pool.name  }}</b></div>
					<div class="col-xs-1">{{ pool.id }}</div>
					<div class="col-xs-2">{{ pool.stats.kb_used|kbytes_to_humanize }}</div>
					<div class="col-xs-2">
						{{ pool.stats.bytes_used|percentage:pool.stats.max_avail }}</div>
					<div class="col-xs-2">{{ pool.stats.max_avail|bytes_to_humanize }}</div>
					<div class="col-xs-2">{{ pool.stats.objects }}</div>
				</div>
			{% endfor %}
			<div class="row one-list-message">
				<div class="col-xs-1"><i class="fa fa-hdd-o"></i></div>
				<div class="col-xs-2"><b>Total</b></div>
				<div class="col-xs-1">N/A</div>
				<div class="col-xs-2"><b>{{ pool_usage.output.stats.total_used_bytes|bytes_to_humanize }}</b>
				</div>
				<div class="col-xs-2">
				<b>{{ pool_usage.output.stats.total_used_bytes|percentage:pool_usage.output.stats.total_bytes }}</b>
				</div>
				<div class="col-xs-2"><b>{{ pool_usage.output.stats.total_bytes|bytes_to_humanize }}</b></div>
				<div class="col-xs-2"><b>{{ cephstatus.output.pgmap.num_objects }}</b></div>
			</div>
		</div>
		<!--End Dashboard Tab 2-->
		<!--Start Dashboard Tab 3-->
		<div id="dashboard-graph" class="row" style="width:100%; visibility: hidden; position: absolute;" >
			<div class="col-xs-12">
				<!-- <h4 class="page-header">OSD Performance Statistics</h4>
				<div id="stat-graph" style="height: 300px;"></div>
 -->				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-bar-chart-o"></i>
							<span>OSD Performance Statistics</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="expand-link">
								<i class="fa fa-expand"></i>
							</a>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<div id="osd_perf_chart" style="min-height: 200px;"></div>
						<!-- <div id="google-chart-1" style="min-height: 200px;"></div> -->
						
					</div>
				</div>
			</div>
		</div>
		<!--End Dashboard Tab 3-->
		<!--Start Dashboard Tab 4-->
		<div id="dashboard-servers" class="row" style="visibility: hidden; position: absolute;">
			<h4 style="color: #0C4B33;padding: 5px"><b>OSD Nodes</b></h4>
			{% for key,value in osd_metadata.items %}
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-server"></i>#{{ key }}</h4>
				
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				{% for osd in value %}
				<div class="row ow-server-bottom">
					<div class="col-sm-3">
						<!-- <div class="knob-slider">
							<input id="knob-srv-1" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div> -->
						OSD : {{ osd.id }}
					</div>
					<div class="col-sm-9">
						<div class="row"><i class="fa fa-linux"></i> {{ osd.distro_description }}</div>
						<div class="row"><i class="fa fa-hdd-o"></i> CPU: {{ osd.cpu }}</div>
						<div class="row"><i class="fa fa-book"></i> Kernel: {{ osd.kernel_version }}</div>
						<div class="row"><i class="fa fa-link"></i> Cluster: {{ osd.back_addr }}</div>
						<div class="row"><i class="fa fa-link"></i> Public: {{ osd.front_addr }}</div>
						<div class="row"><i class="fa fa-bolt"></i> 
							OS: {{ osd.os }} {{ osd.arch }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			<div class="clearfix"></div>
			<h4 style="color: #0C4B33;padding: 5px"><b>MON Nodes</b></h4>
			{% for key,value in mon_metadata.items %}
			<div class="col-xs-12 col-sm-6 col-md-4 ow-server">
				<h4 class="page-header text-right"><i class="fa fa-server"></i>#{{ key }}</h4>
				
				<div class="ow-settings">
					<a href="#"><i class="fa fa-gears"></i></a>
				</div>
				{% for mon in value %}
				<div class="row ow-server-bottom">
					<div class="col-sm-4">
						<!-- <div class="knob-slider">
							<input id="knob-srv-1" class="knob" data-width="60"  data-height="60" data-angleOffset="180" data-fgColor="#6AA6D6" data-skin="tron" data-thickness=".2" value="">CPU Load
						</div> -->
						MON : {{ mon.name }}
					</div>
					<div class="col-sm-8">
						<div class="row"><i class="fa fa-linux"></i> {{ mon.distro_description }}</div>
						{% if mon.addr %}
							<div class="row"><i class="fa fa-link"></i> Addr: {{ mon.addr }}</div>
						{% endif %}
						<div class="row"><i class="fa fa-bolt"></i> 
							Memory: {{ mon.mem_total_kb|kbytes_to_humanize }} 
						</div>
						<div class="row"><i class="fa fa-bolt"></i> 
							SWAP: {{ mon.mem_swap_kb|kbytes_to_humanize }} 
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		<!--End Dashboard Tab 4-->
	</div>
	<div class="clearfix"></div>
</div>
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>
<script type="text/javascript">

/*var g;
g = new JustGage({
    id: "total_usage",
    value: {% widthratio cephstatus.output.pgmap.bytes_used 1073741824 1 %},
    min: 0,
    max: {% widthratio cephstatus.output.pgmap.bytes_total 1073741824 1  %} ,
    title: "Total Usage (GB)",
    label: "(GB) Used"
});
*/
var config1 = liquidFillGaugeDefaultSettings();
percentage = {{ cephstatus.output.pgmap.bytes_used|percentage:cephstatus.output.pgmap.bytes_total }};
/*config1.circleColor = "#FF7777";
config1.textColor = "#FF4444";
config1.waveTextColor = "#FFAAAA";
config1.waveColor = "#FFDDDD";
config1.circleThickness = 0.2;
config1.textVertPosition = 0.2;
config1.waveAnimateTime = 1000;*/
var gauge1 = loadLiquidFillGauge("total_usage", percentage,config1);

var osd_perf = {{ osd_perf|safe }}
google.charts.load('current', {'packages':['bar']});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
    var data = google.visualization.arrayToDataTable(osd_perf);

    var options = {
        title: 'Ceph OSD Performance',
        hAxis: {
        	title: 'latency (ms)' 
        },
        vAxis: {
          title: 'Rating (scale of 1-10)'
        }
    };

    var chart = new google.charts.Bar(document.getElementById('osd_perf_chart'));

    chart.draw(data, options);
}
// Array for random data for Sparkline
//var sparkline_arr_1 = SparklineTestData();
//var sparkline_arr_2 = SparklineTestData();
//var sparkline_arr_3 = SparklineTestData();

$(document).ready(function() {
	// Make all JS-activity for dashboard
	DashboardTabChecker();
	// Load Knob plugin and run callback for draw Knob charts for dashboard(tab-servers)
	//LoadKnobScripts(DrawKnobDashboard);
	// Load Sparkline plugin and run callback for draw Sparkline charts for dashboard(top of dashboard + plot in tables)
	//LoadSparkLineScript(DrawSparklineDashboard);
	// Load Morris plugin and run callback for draw Morris charts for dashboard
	//LoadMorrisScripts(MorrisDashboard);
	// Make beauty hover in table
	
});
</script>
